* {
    color:blue;
}

p, span {
    font-family: 'Roboto', sans-serif;
    color:red;
    width: 300px;
}
/**
esto es un comentario dentro de un documento de css 
*/
h1 {
    font-family: 'Roboto', sans-serif;
    border: 1px solid black;
    margin: 30px;
    margin-top: 40px; 
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    /**padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 20px;*/
    padding: 30px 15px 25px 20px;
    font-weight: bold;
    color: grey;
}

section {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }

  #mi_parrafo {
    color:rgb(21, 206, 144);
    font-size:23px;
    border: 1px solid orange
  }

  .estaesmiclase {
    font-weight: bold;
    color: lightblue;
  }
/* esto es enorme solo como un ejemplo :D
  section h1 {
    font-size: 400px;

  }
  */
